.App {
    display: flex;
    flex: 1;
    flex-direction: column;
}

<<<<<<< HEAD
.Contenedor {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Formulario {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Formulario form {
    margin: 15px;
    border-radius: 15px;
    background-color: lightgrey;
    padding: 15px 20px;
    display: flex;  
    flex-direction: column;
}

.Formulario input, select, button {
    margin: 10px 5px;
}

=======
>>>>>>> 103644cce3c896724bc8f349f9ffa6acec75e623
.Listado {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px 20px;
    background-color: aquamarine;
    border-radius: 15px;
}

.Tarjeta h1, h2 {
    margin: 3px 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 103644cce3c896724bc8f349f9ffa6acec75e623
